body {
    margin: 0;
    padding: 0;
    background-image: url(mar.webp);
    font-family: Arial, sans-serif;
}



.banner {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}


.bloco-central {
    background-color: #E6F6FF;
    width: 85%;
    margin: 40px auto;
    padding-bottom: 30px;
    border-radius: 25px;
    box-shadow: 0 0 20px #00000020;
}


.container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 30px 40px;
}


.secao-projeto {
    width: 60%;
    font-size: 17px;
    line-height: 1.5;
}


.titulo-azul,
.titulo-azul-centro {
    background-color: #0A57A3;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
    width: fit-content;
    margin-bottom: 20px;
}

.titulo-azul-centro {
    margin-left: auto;
    margin-right: auto;
}


ul {
    padding-left: 20px;
}


.secao-contato {
    width: 35%;
}


.card-contato {
    background-color: #1F74A8;
    color: white;
    padding: 25px;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0 0 10px #00000020;
}

.card-contato .item {
    display: flex;
    align-items: center;
    font-size: 19px;
    margin-top: 20px;
}

.icone {
    font-size: 26px;
    margin-right: 12px;
}


.box-integrantes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botao-integrantes {
    background-color: #0A57A3;
    color: white;
    padding: 14px 45px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

.botao-integrantes:hover {
    background-color: #084885;
    transform: scale(1.05);
}

.peixe-icone {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 130px;
    height: auto;
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s ease;
}

.peixe-icone:hover {
    transform: scale(1.20);
}



