@import url("fonts.googleapis.com");

body {
  margin: 0;
  font-family: "Inter", Sans-serif;
  background-color: #e6f7ff;
}

header {
  background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') center/cover no-repeat;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Montagu Slab";
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.peixe {
  position:absolute;
  top:-25px;
  width:130px;
  height: auto;
  cursor: pointer;
  margin-right: 4px;
  left:-10px;
  cursor: pointer;
}

.container {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
  margin: 0;
  font-size: 20px;
  text-decoration: underline;
}

.card p {
  padding: 0 15px;
  font-size: 15px;
  color: #333;
}