.image-container {
    position: relative;
    width: 100%;
  }

body {
  background-color: #e6f7ff;
}

  .image-container img {
  width: 105%;       
  height: 250px;      
  object-fit: cover;
  margin: -8px;
  }
  
.peixe {
  position:absolute;
  top:-25px;
  width:130px;
  height: auto;
  cursor: pointer;
  margin-right: 4px;
  left:-10px;
  cursor: pointer;
}

  .text-on-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgb(255, 255, 255); 
    padding: 10px;
    z-index: 1; 
  }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card{
  background: white;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  font-size: 1.1rem;
  font-weight: bold;
  color:black
}

.card p {
  font-size: 0.95rem;
  line-height: 1.4;
  color: black;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}
